@CHARSET "UTF-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

.page-title h1 {
    margin: 0;
    font-weight: 500;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.setting-block {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
}

.setting-title {
    color: white;
    padding: 15px 20px;
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.setting-block.orange .setting-title {
    background-color: #ff985b;
}

.setting-block.green .setting-title {
    background-color: #79c54e;
}

form {
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
    font-weight: 600;
    color: #555;
}

#temperature-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.brightness-options {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

.radio-label {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    padding: 10px 5px;
    border-radius: 4px;
    transition: background-color 0.2s, box-shadow 0.2s;
    border: 1px solid #eee;
}

.radio-label input[type="radio"] {
    display: none;
}

.radio-label .radio-text {
    font-weight: 500;
    color: #555;
    display: block;
}

.radio-label input[type="radio"]:checked + .radio-text {
    background-color: #2e8b57;
    color: white;
    border-radius: 4px;
    padding: 10px 5px;
    margin: -10px -5px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}


#temperature-form .submit-button {
    background-color: #e57e4e;
}

#temperature-form .submit-button:hover {
    background-color: #cc6c41;
}

#brightness-form .submit-button {
    background-color: #68ad44;
}

#brightness-form .submit-button:hover {
    background-color: #5a943a;
}



.menu-nav-section {
    max-width: 1200px;
    margin: 30px auto 40px auto;
    padding: 0 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .menu-nav-section {
        margin: 20px 0 30px 0;
        padding: 0 20px;
        text-align: left;
    }
}
